<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank You! for choosing <strong>Whatever Airlines!</strong></h1>
    <p>
      Your flight information is right here!
    </p>


    <p>Please visit the website for further information</p>
  </body>
</html>