<!DOCTYPE html>
<html>
<head>
	<title>Error Page</title>
	<style>
		body {
	    background-image: url("/image1.jpg");
	}

		.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 20vw;
    float: right;
    margin-right: 40vw;
}
	.button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 30vw;
    float: left
}


	</style>
</head>
<body>

	<div class="container">

		<br>
		<h1 style="color: red;">You are NOT Authorized!!!</h1>

		<hr>
		<br>

		<img src="/gun.gif" alt="contact" width="80%" height="40%" style="margin-left: 40px;">
	</div>
		<br>
		<%= link_to 'Back', static_pages_home_path, :class => "button" %>
	<br>

	<br><br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>

